.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.goodsItem {
    flex-basis: 33%;
    padding: 10px;
    position: relative;
}
.goodsPhoto {
    height: 350px;
}
.nav__link {
    display: flex;
    justify-content: center;
    padding: 25px;

}
.nav__link a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 30px;
    text-align: center;
    background: linear-gradient(90deg, rgba(208,1,120,1) 0%, rgba(121,9,105,1) 100%);
    transition: 0.5s;
    outline: none;
}

.nav__link a:hover {
    cursor: pointer;
    background: linear-gradient(270deg, rgba(208,1,120,1) 0%, rgba(121,9,105,1) 100%);
}

.catalog__info {
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 131, 192);
    color:#fff;
    font-size: 20px;
}
.catalog__info_item span{
    color: #eee;
    font-size: 16px;
}
.delete__goods {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

@media (max-width: 576px) {
    .catalog__info {
        flex-wrap: wrap;

    }
}