.newGoods__container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.newGoods__form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    padding: 10px;
}
.newGoods__title {
    text-align: center;
    text-transform: uppercase;
}

.newGoods__form__input {
    margin-bottom: 25px;

}

.formControl label {
    display: block;
    position: relative;
}

.submit__btn {
    display: flex;
    justify-content: center;
}
.submit__btn button{
    color: #fff;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 30px;
    text-align: center;
    background: linear-gradient(90deg, rgba(208,1,120,1) 0%, rgba(121,9,105,1) 100%);
    transition: 5s;
    outline: none;
}

.submit__btn button:hover {
    cursor: pointer;
    background: linear-gradient(270deg, rgba(208,1,120,1) 0%, rgba(121,9,105,1) 100%);
}

@media (max-width: 756px) {
    .newGoods__form {
        width: 75%;
    }
}
@media (max-width: 576px) {
    .newGoods__form {
        width: 98%;
    }
}
